.gameTableContainer {
    width: 400px;
    height: 400px;
    margin-top: 20px;
    box-shadow: 13px 32px 36px -14px hsla(0, 0%, 70%, 0.3);
    
    td {
        border: 1px solid #aba9a9;
        width: 7%;
        height: 7%;
        color: lightslategrey;
    }

    .show{
        position: relative;
        background: #cecece;
    }

    .showBombs {
        background: #fff;
        &::after {
            background-image: url('../assets/explosion.png');
        }
    }

    .flaged {
        background: #fff;
        &::after {
            background-image: url('../assets/flag.png');
        }
    }

    .showBombs::after, .flaged::after {
        position: absolute;
        content: '';
        background-size: 80%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        top: 7%;
        left: 11%;
    }

}